
/* .NavigationItem {
    margin:  0;
    box-sizing: border-box;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: left;
    align-items: left;
  
}

.NavigationItem a {
    color: rgb(27, 22, 22);
    text-decoration: none;
    width: 100%;
    padding: 5px 15px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
    
   
}

.NavigationItem a:hover{

    
    color: rgb(105, 108, 247);
}

.NavigationItem a.active {

    border-bottom: 4px solid #40A4C8;
    color: rgb(105, 108, 247);
} */
/* 
.NavigationItem a {
    color:brown;
    text-decoration: none;
    width: 100%;
    padding: 8px 0px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
   
} */



/* 
@media (min-width:500px)
{
    
    
} */